[submodule "psake"]
	path = psake
	url = https://github.com/psake/psake.git
[submodule "build/release-script"]
	path = build/release-script
	url = https://github.com/inventti/script-deploy-varejos.git
[submodule "build/ScriptsRelease"]
	path = build/ScriptsRelease
	url = https://github.com/inventti/script-deploy-varejos.git
